<!DOCTYPE html>
<html>
<head>
    <title>Créer une Company</title>
</head>
<body>

    <h1>Créer une Company 🏢</h1>

    <form method="POST" action="/admin/companies">

        <label>Nom :</label><br>
        <input type="text" name="name" required><br><br>

        <label>Adresse :</label><br>
        <input type="text" name="adresse"><br><br>

        <label>Ville :</label><br>
        <input type="text" name="ville"><br><br>

        <label>Pays :</label><br>
        <input type="text" name="pays"><br><br>

        <label>Email :</label><br>
        <input type="email" name="contact_email"><br><br>

        <label>Téléphone :</label><br>
        <input type="text" name="contact_phone"><br><br>

        <button type="submit">Créer</button>

    </form>

</body>
</html>